.TemplateSide {
  box-shadow: 0px 0px 5px rgb(184 179 179);
}

.TemplateSideContent {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: space-between;
  padding: 0 15px 15px 15px;
}

.TemplateSideHeading {
  border-left: 3px solid #68e7ca;
  font-weight: 500;
  font-size: 20px;
  color: #68e7ca;
  padding: 0 15px;
  margin-top: 10px;
}
.TemplateSideContentContent {
  display: flex;
  justify-content: space-around;
  width: 51%;
  font-size: 14px;
}

.ViewAllBtn {
  background-color: #edfcf8;
  color: #68e7ca;
  padding: 6px 10px 6px 10px;
  border: 1px solid #68e7ca;
  border-radius: 2px;
}
