.Template {
  width: 47%;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgb(184, 179, 179);
  border-radius: 3px;
}
.TemplateHeader {
  display: flex;
  padding: 0 15px;
  margin-top: 10px;
  justify-content: space-between;
  border-left: 3px solid brown;
}
.TripDetails {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
}
.TripDetailsId {
  display: flex;
  flex-direction: column;
}
.TripDetailsLocation {
  display: flex;
  flex-direction: column;
}

.DriverDetails {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
}

.DetailsContainer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 0px 15px 15px 15px;
}
.TemplateBottom {
  margin-top: 5%;
}
.TemplateValue {
}
